body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  span {
    color: #9f9f9f;
  }
  ::-webkit-scrollbar {
    width: 10px;
    padding: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::placeholder {
    font-size: 14px;
    font-weight: bold;
  }
  :where(.css-dev-only-do-not-override-mik4fl)
    .ant-carousel
    .slick-dots
    button {
    background: #7f9f7f;
    height: 10px;
  }
  :where(.css-dev-only-do-not-override-mik4fl)
    .ant-carousel
    .slick-dots
    li.slick-active
    button {
    background: #8774e1;
  }
  :where(.css-dev-only-do-not-override-mik4fl).ant-upload-wrapper
    .ant-upload-list.ant-upload-list-picture-card
    .ant-upload-list-item-error,
  :where(.css-dev-only-do-not-override-mik4fl).ant-upload-wrapper
    .ant-upload-list.ant-upload-list-picture-circle
    .ant-upload-list-item-error {
    border-color: gray;
  }
}
